body{
    background-color: #ffffff;
}


.project-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: 100% ;
    height: 500px;
    margin: 0 auto; /* Center horizontally */

}

.tv-container{
    display: flex;
    /*justify-content: flex-start;*/
    /*margin-left: 10%;*/
    width: 30%;
    height: 100%;
    padding-left: 15%;
}

.char{
    display: flex;
    /*justify-content: flex-start;*/
    /*margin-left: 10%;*/
    width: 30%;
    height: 100%;
    padding-right: 15%;
}

.project-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-right: 15%;
}

.char-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-left: 15%;
}

.char-text h1{
text-align: right
}

h1{
    margin-bottom: 0;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.retro-tv{
    width: 100%; /* Set width to 100% of the parent container */
    height: 100%; /* Set height to 100% of the parent container */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.Hotspot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.close-button {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    background-color: red;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 5px 10px;*/
/*    cursor: pointer;*/
/*    display: none; !* Initially hidden *!*/
/*}*/


.modal {
    display: none; /* Hidden by default */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: hidden; !* Enable scroll if needed *!*/
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 90%; /* Increase the height */
    /*max-height: 90%; !* Optional: set a max-height *!*/
    max-width: 1500px; /* Optional: set a max-width */
}

.modal-video{
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%;
}

.modal-content iframe {
    width: 80vw; /* 80% of the viewport width */
    height: 45vw; /* Maintain 16:9 aspect ratio */
    max-width: 85%; /* Ensure it doesn't exceed the modal's width */
    max-height: 85%; /* Ensure it doesn't exceed the modal's height */
}

/*.modal {*/
/*    display: none; !* Hidden by default *!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Sit on top *!*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%; !* Full width *!*/
/*    height: 100%; !* Full height *!*/
/*    overflow: hidden; !* Enable scroll if needed *!*/
/*    background-color: rgb(0,0,0); !* Fallback color *!*/
/*    background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*}*/

/*.modal-content {*/
/*    background-color: #fefefe;*/
/*    margin: 15% auto; !* 15% from the top and centered *!*/
/*    padding: 20px;*/
/*    border: 1px solid #888;*/
/*    width: 80%; !* Could be more or less, depending on screen size *!*/
/*}*/

.close-button {
    color: #aaaaaa;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    /*font-size: 28px;*/
    /*font-weight: bold;*/
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}